.trucker-list {
  max-width: 800px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.trucker {
  background: #fff;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #eee;
}

.trucker li {
  margin: 10px 0;
}

.trucker__name {
  font-size: 30px;
}
